include ../../sys/pug/vars

.location
	.case
		.location__title.h3 Как добраться до поселка мечты «Новые дачи»
		.location__list.row
			.location__item
				.location__icon
					img(src="" alt="")
				.location__text 26 км от #[br]Нижнего Новгорода #[br]#[strong Дмитровское шоссе]
			.location__item
				.location__icon
					img(src="" alt="")
				.location__text Ближайший #[br]населенный пункт: #[strong #[br]п. Непецино. #[br]Расстояние 200 м]
			.location__item
				.location__icon
					img(src="" alt="")
				.location__text Ближайший город: #[br]#[strong г. Богородск. #[br]Расстояние 20 км]
			.location__item
				.location__icon
					img(src="" alt="")
				.location__text Ближайшая ж/д станция: #[br]#[strong Убежицы. #[br]Расстояние до станции #[br]3.1 км]
			.location__item
				.location__icon
					img(src="" alt="")
				.location__text Координаты поселка: #[br]#[strong 56.108497, 43.370797]
	.location__map#location-map(data-1="" data-2="")