include ../../sys/pug/vars

.location
	.case
		.location__title.h3 Как добраться до поселка мечты «Новые дачи»
		.location__list
			.location__item
				.location__icon
					img(src="_/uploads/location-1.svg" alt="")
				.location__text 26 км от #[br]Нижнего Новгорода #[br]#[strong Дмитровское шоссе]
			.location__item
				.location__icon
					img(src="_/uploads/location-2.svg" alt="")
				.location__text Ближайший #[br]населенный пункт: #[strong #[br]п. Непецино. #[br]Расстояние 200 м]
			.location__item
				.location__icon
					img(src="_/uploads/location-3.svg" alt="")
				.location__text Ближайший город: #[br]#[strong г. Богородск. #[br]Расстояние 20 км]
			.location__item
				.location__icon
					img(src="_/uploads/location-4.svg" alt="")
				.location__text Ближайшая ж/д станция: #[br]#[strong Убежицы. #[br]Расстояние до станции #[br]3.1 км]
			.location__item
				.location__icon
					img(src="_/uploads/location-5.svg" alt="")
				.location__text Координаты поселка: #[br]#[strong 56.108497, 43.370797]
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	.location__map#location-map(data-l="56.324616" data-c="44.010119")