.location {
  padding-top: 62px;
}
.location__title {
  margin-bottom: 62px;
}
.location__list {
  display: grid;
  grid: none/repeat(5, 1fr);
  justify-items: center;
  margin-bottom: 62px;
}
.location__item {
  text-align: center;
}
.location__icon {
  height: 87px;
  margin-bottom: 38px;
}
.location__icon img {
  margin-left: auto;
  margin-right: auto;
}
.location__map {
  height: 385px;
}

@media screen and (max-width: 1140px) {
  .location {
    padding-top: 50px;
  }
  .location__text {
    font-size: 16px;
  }
  .location__list {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 992px) {
  .location__title {
    margin-bottom: 40px;
  }
  .location__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
  }
  .location__item {
    width: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .location__icon {
    margin-bottom: 25px;
  }
  .location__text br {
    display: none;
  }
  .location__map {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .location__item {
    width: calc(100% / 2 - 30px);
  }
}
@media screen and (max-width: 380px) {
  .location {
    padding-top: 40px;
  }
  .location__list {
    margin-left: 0;
    margin-right: 0;
  }
  .location__item {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .location__icon {
    height: 72px;
    margin-bottom: 15px;
  }
  .location__map {
    margin-top: 30px;
  }
}