extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	+style('intro', 'blocks')
	include ../../blocks/intro/intro

	+style('about', 'blocks')
	include ../../blocks/about/about

	+style('advantages', 'blocks')
	include ../../blocks/advantages/advantages

	+style('why', 'blocks')
	include ../../blocks/why/why

	+style('desc', 'blocks')
	include ../../blocks/desc/desc

	+style('scheme', 'blocks')
	include ../../blocks/scheme/scheme
	+script('scheme', 'blocks')

	+style('attractions', 'blocks')
	include ../../blocks/attractions/attractions
	+script('attractions', 'blocks')

	+style('steps', 'blocks')
	include ../../blocks/steps/steps

	+style('earth', 'blocks')
	include ../../blocks/earth/earth

	+style('pay', 'blocks')
	include ../../blocks/pay/pay

	+style('build', 'blocks')
	include ../../blocks/build/build

	+style('capabilities', 'blocks')
	include ../../blocks/capabilities/capabilities

	+style('gallery', 'blocks')
	include ../../blocks/gallery/gallery
	+script('gallery', 'blocks')

	+style('faq', 'blocks')
	include ../../blocks/faq/faq

	+style('order', 'blocks')
	include ../../blocks/order/order

	+style('location', 'blocks')
	include ../../blocks/location/location
	+script('location', 'blocks')