.footer {
  padding-top: 24px;
  background-color: #f8f8f8;
}

.copy {
  font-size: 14px;
  text-align: center;
  margin-top: 35px;
  padding-top: 21px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
}

.up {
  z-index: 90;
  position: fixed;
  right: 5%;
  bottom: 5%;
  transition: 0.3s;
  transform: scale(0);
}
.up.--show {
  transform: scale(1);
}