@import ../../sys/sass/vars

.faq
	padding-top: 60px
	padding-bottom: 60px
	&__title
		margin-bottom: 27px
	&__subtitle
		margin-bottom: 62px
	&__list
		background: #fff
		box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15)
	&__item
		
		border-bottom: 1px solid #d3d4d3
	&__q
		font-size: 20px

		

@media screen and (max-width: 1140px)
	// .faq
		
@media screen and (max-width: 992px)
	// .faq
		
@media screen and (max-width: 767px)
	// .faq
		