include ../../sys/pug/vars

.steps
	.case
		.steps__title.h3 Лучше увидеть всё своими глазами
		.steps__list.row
			.steps__item
				.steps__icon
					img(src="_/uploads/steps-1.svg" alt="")
				.steps__name Шаг 1
				.steps__text Оставьте заявку #[br]на нашем сайте
			.steps__item
				.steps__icon
					img(src="_/uploads/steps-2.svg" alt="")
				.steps__name Шаг 2
				.steps__text Расскажите какой именно #[br]участок хотите
			.steps__item
				.steps__icon
					img(src="_/uploads/steps-3.svg" alt="")
				.steps__name Шаг 3
				.steps__text Менеджер подберет #[br]для Вас идеальный #[br]участок
			.steps__item
				.steps__icon
					img(src="_/uploads/steps-4.svg" alt="")
				.steps__name Шаг 4
				.steps__text Приезжайте в удобное #[br]время, что бы увидеть #[br]все своими глазами
		a.steps__btn.btn.--b-blue.--md(href="" data-fancybox="") Оставить заявку
		