include ../../sys/pug/vars

header.header
	.case
		.panel.row
			.panel__logo
				img(src="_/uploads/logo.png" alt="")
			.panel__desc Дачный поселок #[br]«Новые дачи»
			.panel__socials.socials
				.socials__list.row
					a.socials__item(href="" target="_blank")
						img(src="_/uploads/viber.png" alt="")
					a.socials__item(href="" target="_blank")
						img(src="_/uploads/whatsapp.png" alt="")
					a.socials__item(href="" target="_blank")
						img(src="_/uploads/vk.png" alt="")
					a.socials__item(href="" target="_blank")
						img(src="_/uploads/instagram.png" alt="")
			.panel__info
				a.panel__callback.btn.--gradient.--sm(href="#popup-callback" data-fancybox="") Перезвоните мне
			.panel__contacts
				.panel__contacts-title Бесплатная консультация:
				.panel__phone.phone
					.phone__icon
						img(src="_/uploads/phone-green.png" alt="")
					.phone__value #[a(href="tel:+79307072555") +7 (930) 707-25-55]
				.panel__email.email
					.email__icon
						img(src="_/uploads/email-green.png" alt="")
					.email__value #[a(href="mailto:sale@new-cottages.ru") sale@new-cottages.ru]