.header {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .header .panel__contacts {
    margin-left: auto;
  }
  .header .panel__socials {
    display: none;
  }
}