include ../../sys/pug/vars

.why
	.why__bg-before.bg
		img(src="_/uploads/why-before.png" alt="")
	.why__title-wrap
		.case
			.why__title.h3 Почему вы захотите купить здесь участок?
	.why__wrap
		.case
			.why__list.row
				.why__item
					.why__icon
						img(src="_/uploads/why-1.png" alt="")
					.why__text Местоположение #[br]#[strong Юг Нижегородской области]
				.why__item
					.why__icon
						img(src="_/uploads/why-2.png" alt="")
					.why__text Перерабатывающие предприятия #[br]#[strong НЕ ОБНАРУЖЕНЫ]
				.why__item
					.why__icon
						img(src="_/uploads/why-3.png" alt="")
					.why__text Экологические нормы #[br]#[strong СОБЛЮДЕНЫ]
		.why__bg.bg
			img(src="_/uploads/why-bg.png" alt="")