.why {
  position: relative;
  padding-top: 55px;
}
.why__bg-before {
  top: -340px;
}
.why__title-wrap {
  margin-bottom: 62px;
}
.why__wrap {
  position: relative;
  min-height: 306px;
  padding-top: 62px;
}
.why__item {
  width: 33.333%;
  color: #fff;
  text-align: center;
}
.why__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  height: 102px;
}
.why__text {
  font-size: 20px;
  line-height: 27.55px;
}
.why__text strong {
  font-weight: 600;
}

@media screen and (max-width: 1220px) {
  .why__icon {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .why__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 665px) {
  .why__wrap {
    background: #7EBA68;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .why__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .why__item:last-of-type {
    margin-bottom: 0;
  }
  .why__icon {
    margin-bottom: 15px;
  }
  .why__bg {
    display: none;
  }
}