include ../../sys/pug/vars

.why
	.why__title-wrap
		.case
			.why__title.h3 Почему вы захотите купить здесь участок?
	.why__wrap
		.case
			.why__list
				.why__item
					.why__icon
						img(src="" alt="")
					.why__text Местоположение #[br]#[strong Юг Нижегородской области]
				.why__item
					.why__icon
						img(src="" alt="")
					.why__text Перерабатывающие предприятия #[br]#[strong НЕ ОБНАРУЖЕНЫ]
				.why__item
					.why__icon
						img(src="" alt="")
					.why__text Экологические нормы #[br]#[strong СОБЛЮДЕНЫ]