.about {
  padding-top: 95px;
  padding-bottom: 60px;
}
.about__title {
  margin-bottom: 50px;
}
.about__img-wrap {
  width: 350px;
  padding-top: 35px;
}
.about__content {
  width: calc(100% - 350px);
  padding-left: 30px;
}
.about__readmore {
  max-width: 350px;
  margin-top: 60px;
}

@media screen and (max-width: 992px) {
  .about {
    padding-top: 40px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__wrap {
    flex-direction: column;
  }
  .about__img {
    margin-bottom: 30px;
  }
  .about__img-wrap {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about__content {
    width: 100%;
    padding-left: 0;
  }
  .about__readmore {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 50px;
  }
  .about__title br {
    display: none;
  }
  .about__readmore {
    margin-top: 15px;
  }
}
@media screen and (max-width: 370px) {
  .about__img-wrap {
    width: 100%;
    max-width: 350px;
  }
}