.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-family: "Commissioner", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
  border-radius: 10px;
}
.btn.--sm {
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  padding-bottom: 2px;
}
.btn.--md {
  font-size: 18px;
  font-weight: 500;
  height: 68px;
}
.btn.--md img {
  width: 35px;
}
.btn.--gradient {
  color: #fff;
}
.btn.--gradient.--sm {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.btn.--gradient.--md {
  box-shadow: 0 3px 14px 2px rgba(172, 214, 81, 0.25);
}
.btn.--gradient:before, .btn.--gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.btn.--gradient:before {
  z-index: -2;
  background-image: linear-gradient(to left, #afd74f 0%, #15a9ac 84%, #15a9ac 100%);
}
.btn.--gradient:after {
  z-index: -1;
  opacity: 0;
  background-image: linear-gradient(to left, #b4d84c 0%, #b4d84c 1%, #23ada4 93%, #23ada4 100%);
}
.btn.--gradient:hover:after {
  opacity: 1;
}
.btn.--b-blue {
  border: 1px solid #2791c2;
}
.btn.--b-blue:before, .btn.--b-blue:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.btn.--b-blue:before {
  z-index: -2;
  background: linear-gradient(to left, #fff 0%, #fff 1%, #fff 93%, #fff 100%);
}
.btn.--b-blue:after {
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to left, #b4d84c 0%, #b4d84c 1%, #23ada4 93%, #23ada4 100%);
}
.btn.--b-blue:hover {
  color: #fff;
  border-color: transparent;
}
.btn.--b-blue:hover:after {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .btn.--md {
    font-size: 16px;
    height: 56px;
  }
}