.attractions {
  padding-bottom: 60px;
}
.attractions__title {
  margin-bottom: 60px;
}
.attractions__item {
  height: 380px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  padding: 11px 11px 38px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.attractions__img {
  margin-bottom: 27px;
}
.attractions__name {
  font-weight: 600;
  line-height: 27px;
}
.attractions__arrow {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.attractions__arrow.swiper-button-prev {
  left: -55px;
}
.attractions__arrow.swiper-button-next {
  right: -55px;
}
.attractions__arrow:hover svg {
  fill: #7ec86d;
}