include ../../sys/pug/vars

.attractions
	.case
		.attractions__title.h3 Достопримечательности рядом с поселком
		.attractions__list.row
			.attractions__item
				.attractions__img
					img(src="" alt="")
				.attractions__name Парк активного отдыха

				.attractions__desc расстояние 3 км
			.attractions__item
				.attractions__img
					img(src="" alt="")
				.attractions__name Горнолыжные склоны ГЛК Хабарское

				.attractions__desc расстояние 3 км
			.attractions__item
				.attractions__img
					img(src="" alt="")
				.attractions__name Усадьба Приклонских-Руковишниковых
				.attractions__desc расстояние 3 км
			.attractions__item
				.attractions__img
					img(src="" alt="")
				.attractions__name Дудин #[br]монастырь
				.attractions__desc расстояние 3 км
		