include ../../sys/pug/vars

.desc
	.case
		.desc__list.row
			.desc__item
				.desc__item-wrap
					.desc__img
						img(src="_/uploads/desc-1.png" alt="")
					.desc__data
						.desc__titles
							.desc__name Лес
							.desc__text-1 Смешанный
							.desc__text-2 расстояние 500 м
						.desc__hidden
							.desc__text-3 Основным компонентом является древостой. Подлесок и подрост, а в лесах с густым плотным пологом и живой покров, могут отсутствовать ...
							a.desc__btn.btn.--gradient.--sm(href="") Подробнее
			.desc__item
				.desc__item-wrap
					.desc__img
						img(src="_/uploads/desc-2.png" alt="")
					.desc__data
						.desc__titles
							.desc__name Ландшафт
							.desc__text-1 Равнина
						.desc__hidden
							.desc__text-3 Основным компонентом является древостой. Подлесок и подрост, а в лесах с густым плотным пологом и живой покров, могут отсутствовать ...
							a.desc__btn.btn.--gradient.--sm(href="") Подробнее
			.desc__item
				.desc__item-wrap
					.desc__img
						img(src="_/uploads/desc-3.png" alt="")
					.desc__data
						.desc__titles
							.desc__name Водоем
							.desc__text-1 Озеро, река
							.desc__text-2 расстояние 700 м
						.desc__hidden
							.desc__text-3 Основным компонентом является древостой. Подлесок и подрост, а в лесах с густым плотным пологом и живой покров, могут отсутствовать ...
							a.desc__btn.btn.--gradient.--sm(href="") Подробнее
			.desc__item
				.desc__item-wrap
					.desc__img
						img(src="_/uploads/desc-4.png" alt="")
					.desc__data
						.desc__titles
							.desc__name Почва
							.desc__text-1 Песок, суглинок
						.desc__hidden
							.desc__text-3 Основным компонентом является древостой. Подлесок и подрост, а в лесах с густым плотным пологом и живой покров, могут отсутствовать ...
							a.desc__btn.btn.--gradient.--sm(href="") Подробнее
		