@import ../../sys/sass/vars

.desc
	padding-top: 37px
	padding-bottom: 60px
	&__list
		margin-left: -10px
		margin-right: -10px
	&__item
		width: calc(25% - 20px)
		margin-left: 10px
		margin-right: 10px
		height: 380px
		overflow: hidden
		background-color: #ffffff
		padding: 11px 11px 38px
		box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15)
		cursor: pointer
	&__data
		padding-left: 10px
		padding-right: 10px
		text-align: center
		padding-top: 30px
	&__name
		color: #7eba68
		font-size: 24px
		font-weight: 700
	&__text
		&-1
			font-size: 20px
			font-weight: 600
		&-3
			font-size: 18px
			line-height: 28.5px
	&__hidden
		display: none
		&:before
			content: ''
			width: 125px
			height: 1px
			display: block
			margin: 16px auto
			background-color: #d3d4d3
	&__btn
		margin-top: 21px
		&.--sm
			font-size: 16px

@media screen and (max-width: 1140px)
	.desc
		&__list
			margin-left: -5px
			margin-left: -5px
		&__item
			width: calc( 25% - 10px )
			margin-left: 5px
			margin-right: 5px

@media screen and (max-width: 992px)
	.desc
		&__list
			margin-bottom: -10px
		&__item
			width: calc( 50% - 10px )
			margin-bottom: 10px
		&__img
			img
				margin-left: auto
				margin-right: auto
		
@media screen and (max-width: 767px)
	.desc
		&__list
			margin-left: 0
			margin-right: 0
		&__item
			width: 100%
			margin-left: 0
			margin-right: 0
