.advantages {
  text-align: center;
}
.advantages__item {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 118px;
  margin-bottom: 22px;
}
.advantages__text {
  font-size: 20px;
  line-height: 27.5px;
}
.advantages__text strong {
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .advantages__list {
    margin-bottom: -30px;
  }
  .advantages__item {
    width: 50%;
    margin-bottom: 30px;
  }
  .advantages__icon {
    margin-bottom: 20px;
  }
  .advantages__text {
    font-size: 18px;
    line-height: 24px;
    max-width: 210px;
  }
  .advantages__text br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .advantages__list {
    margin-bottom: -40px;
  }
  .advantages__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .advantages__icon {
    height: 88px;
    margin-bottom: 10px;
  }
}