include ../../sys/pug/vars

.advantages
	.case
		.advantages__list
			.advantages__item
				.advantages__icon
					img(src="" alt="")
				.advantages__text #[strong Есть прописка] #[br]если единственное жилье
			.advantages__item
				.advantages__icon
					img(src="" alt="")
				.advantages__text #[strong Асфальтированная #[br]дорога] #[br]до поселка
			.advantages__item
				.advantages__icon
					img(src="" alt="")
				.advantages__text #[strong Электричество] #[br]инфраструктура вокруг #[br]поселка
			.advantages__item
				.advantages__icon
					img(src="" alt="")
				.advantages__text #[strong Нет платежей за #[br]содержание]
		