.textarea__wrap {
  position: relative;
}
.textarea__area {
  width: 100%;
  font-family: "Commissioner", sans-serif;
  color: #26252b;
  resize: none;
}
.textarea__area::placeholder {
  color: #26252b;
}