include ../../sys/pug/vars

.capabilities
	.case
		.capabilities__title.h3 Мы дарим возможность каждому иметь свой уголок #[br]комфорта на природе
		.capabilities__list
			.capabilities__item.--num1
				.capabilities__img
					img(src="" alt="")
				.capabilities__count 1
				.capabilities__text Можно наслаждаться живописной природой, #[br]пением птиц и звуками природы, дышать свежим #[br]воздухом, гулять по лесным тропинкам
			.capabilities__item.--num2
				.capabilities__img
					img(src="" alt="")
				.capabilities__count 1
				.capabilities__text Вести ЗОЖ круглый год
			.capabilities__item.--num3
				.capabilities__img
					img(src="" alt="")
				.capabilities__count 1
				.capabilities__text Выращивать свои овощи и фрукты
			.capabilities__item.--num4
				.capabilities__img
					img(src="" alt="")
				.capabilities__count 1
				.capabilities__text В любой момент устроить пикник
			.capabilities__item.--num5
				.capabilities__img
					img(src="" alt="")
				.capabilities__count 1
				.capabilities__text Живописный лес на границе поселка станет приятным #[br]увлекательным досугом для любителей ягод, грибов и #[br]пеших прогулок
			.capabilities__item.--num6
				.capabilities__img
					img(src="" alt="")
				.capabilities__count 1
				.capabilities__text Это место прекрасно подойдет для сезонного отдыха