.case {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1140px) {
  .case {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}