@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-SemiBold.eot");
  src: url("../fonts/Commissioner-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-SemiBold.woff2") format("woff2"), url("../fonts/Commissioner-SemiBold.woff") format("woff"), url("../fonts/Commissioner-SemiBold.ttf") format("truetype"), url("../fonts/Commissioner-SemiBold.svg#Commissioner-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Bold.eot");
  src: url("../fonts/Commissioner-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Bold.woff2") format("woff2"), url("../fonts/Commissioner-Bold.woff") format("woff"), url("../fonts/Commissioner-Bold.ttf") format("truetype"), url("../fonts/Commissioner-Bold.svg#Commissioner-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Medium.eot");
  src: url("../fonts/Commissioner-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Medium.woff2") format("woff2"), url("../fonts/Commissioner-Medium.woff") format("woff"), url("../fonts/Commissioner-Medium.ttf") format("truetype"), url("../fonts/Commissioner-Medium.svg#Commissioner-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-ExtraBold.eot");
  src: url("../fonts/Commissioner-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-ExtraBold.woff2") format("woff2"), url("../fonts/Commissioner-ExtraBold.woff") format("woff"), url("../fonts/Commissioner-ExtraBold.ttf") format("truetype"), url("../fonts/Commissioner-ExtraBold.svg#Commissioner-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Black.eot");
  src: url("../fonts/Commissioner-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Black.woff2") format("woff2"), url("../fonts/Commissioner-Black.woff") format("woff"), url("../fonts/Commissioner-Black.ttf") format("truetype"), url("../fonts/Commissioner-Black.svg#Commissioner-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Regular.eot");
  src: url("../fonts/Commissioner-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Regular.woff2") format("woff2"), url("../fonts/Commissioner-Regular.woff") format("woff"), url("../fonts/Commissioner-Regular.ttf") format("truetype"), url("../fonts/Commissioner-Regular.svg#Commissioner-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #26252b;
  font-size: 18px;
  font-family: "Commissioner", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #26252b;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.case {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1140px) {
  .case {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-family: "Commissioner", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
  border-radius: 10px;
}
.btn.--sm {
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  padding-bottom: 2px;
}
.btn.--md {
  font-size: 18px;
  font-weight: 500;
  height: 68px;
}
.btn.--gradient {
  color: #fff;
}
.btn.--gradient.--sm {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.btn.--gradient.--md {
  box-shadow: 0 3px 14px 2px rgba(172, 214, 81, 0.25);
}
.btn.--gradient:before, .btn.--gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.btn.--gradient:before {
  z-index: -2;
  background-image: linear-gradient(to left, #afd74f 0%, #15a9ac 84%, #15a9ac 100%);
}
.btn.--gradient:after {
  z-index: -1;
  opacity: 0;
  background-image: linear-gradient(to left, #b4d84c 0%, #b4d84c 1%, #23ada4 93%, #23ada4 100%);
}
.btn.--gradient:hover:after {
  opacity: 1;
}
.btn.--b-blue {
  border: 1px solid #2791c2;
}
.btn.--b-blue:before, .btn.--b-blue:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.btn.--b-blue:before {
  z-index: -2;
  background: linear-gradient(to left, #fff 0%, #fff 1%, #fff 93%, #fff 100%);
}
.btn.--b-blue:after {
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to left, #b4d84c 0%, #b4d84c 1%, #23ada4 93%, #23ada4 100%);
}
.btn.--b-blue:hover {
  color: #fff;
  border-color: transparent;
}
.btn.--b-blue:hover:after {
  opacity: 1;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woffcharset=utf-8base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  text-align: center;
}

.h1 {
  font-size: 55px;
  line-height: 72px;
  font-weight: 700;
}

.h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.h3 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

.h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.t1 {
  line-height: 28.5px;
}
.t1 h3 {
  display: block;
  font-weight: 500;
  margin-bottom: 25px;
}
.t1 h3:last-child {
  margin-bottom: 0;
}
.t1 p {
  margin-bottom: 25px;
}
.t1 p:last-child {
  margin-bottom: 0;
}

.overflow-disable {
  overflow: hidden;
}

.bg {
  z-index: -1;
  width: 1440px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.panel {
  align-items: center;
}
.panel__desc {
  font-size: 16px;
  font-weight: 500;
  max-width: 135px;
  margin-left: 28px;
}
.panel__socials {
  margin-left: auto;
}
.panel__info {
  width: 220px;
  margin-left: 35px;
  margin-right: 35px;
}
.panel__contacts {
  width: 210px;
}
.panel__contacts-title {
  font-size: 16px;
  margin-bottom: 7px;
}

.socials__item {
  margin-right: 7px;
}
.socials__item:last-of-type {
  margin-right: 0;
}
.socials__item:hover {
  transform: scale(0.9);
}

.phone, .email {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
}
.phone__icon, .email__icon {
  width: 13px;
  font-size: 0;
}
.phone__value, .email__value {
  width: calc(100% - 13px);
  padding-left: 5px;
}

.phone {
  margin-bottom: 7px;
}
.phone__value {
  font-size: 20px;
  font-weight: 700;
}