@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-SemiBold.eot");
  src: url("../fonts/Commissioner-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-SemiBold.woff2") format("woff2"), url("../fonts/Commissioner-SemiBold.woff") format("woff"), url("../fonts/Commissioner-SemiBold.ttf") format("truetype"), url("../fonts/Commissioner-SemiBold.svg#Commissioner-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Bold.eot");
  src: url("../fonts/Commissioner-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Bold.woff2") format("woff2"), url("../fonts/Commissioner-Bold.woff") format("woff"), url("../fonts/Commissioner-Bold.ttf") format("truetype"), url("../fonts/Commissioner-Bold.svg#Commissioner-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Medium.eot");
  src: url("../fonts/Commissioner-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Medium.woff2") format("woff2"), url("../fonts/Commissioner-Medium.woff") format("woff"), url("../fonts/Commissioner-Medium.ttf") format("truetype"), url("../fonts/Commissioner-Medium.svg#Commissioner-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-ExtraBold.eot");
  src: url("../fonts/Commissioner-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-ExtraBold.woff2") format("woff2"), url("../fonts/Commissioner-ExtraBold.woff") format("woff"), url("../fonts/Commissioner-ExtraBold.ttf") format("truetype"), url("../fonts/Commissioner-ExtraBold.svg#Commissioner-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Black.eot");
  src: url("../fonts/Commissioner-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Black.woff2") format("woff2"), url("../fonts/Commissioner-Black.woff") format("woff"), url("../fonts/Commissioner-Black.ttf") format("truetype"), url("../fonts/Commissioner-Black.svg#Commissioner-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Regular.eot");
  src: url("../fonts/Commissioner-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Regular.woff2") format("woff2"), url("../fonts/Commissioner-Regular.woff") format("woff"), url("../fonts/Commissioner-Regular.ttf") format("truetype"), url("../fonts/Commissioner-Regular.svg#Commissioner-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #26252b;
  font-size: 18px;
  font-family: "Commissioner", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #26252b;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

path, circle, rect, line, polygon {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.case {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1140px) {
  .case {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-family: "Commissioner", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
  border-radius: 10px;
}
.btn.--sm {
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  padding-bottom: 2px;
}
.btn.--md {
  font-size: 18px;
  font-weight: 500;
  height: 68px;
}
.btn.--gradient {
  color: #fff;
}
.btn.--gradient.--sm {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.btn.--gradient.--md {
  box-shadow: 0 3px 14px 2px rgba(172, 214, 81, 0.25);
}
.btn.--gradient:before, .btn.--gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.btn.--gradient:before {
  z-index: -2;
  background-image: linear-gradient(to left, #afd74f 0%, #15a9ac 84%, #15a9ac 100%);
}
.btn.--gradient:after {
  z-index: -1;
  opacity: 0;
  background-image: linear-gradient(to left, #b4d84c 0%, #b4d84c 1%, #23ada4 93%, #23ada4 100%);
}
.btn.--gradient:hover:after {
  opacity: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  text-align: center;
}

.h1 {
  font-size: 55px;
  line-height: 72px;
  font-weight: 700;
}

.h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.h3 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

.h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.h5 {
  font-size: 20px;
  line-height: 27.5px;
  font-weight: 600;
}

.t1 {
  line-height: 28.5px;
}
.t1 h3 {
  display: block;
  font-weight: 500;
  margin-bottom: 25px;
}
.t1 h3:last-child {
  margin-bottom: 0;
}
.t1 p {
  margin-bottom: 25px;
}
.t1 p:last-child {
  margin-bottom: 0;
}

.overflow-disable {
  overflow: hidden;
}

.bg {
  z-index: -1;
  width: 1440px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.panel {
  align-items: center;
}
.panel__desc {
  font-size: 16px;
  font-weight: 500;
  max-width: 135px;
  margin-left: 28px;
}
.panel__socials {
  margin-left: auto;
}
.panel__info {
  width: 220px;
  margin-left: 35px;
  margin-right: 35px;
}
.panel__contacts {
  width: 210px;
}
.panel__contacts-title {
  font-size: 16px;
  margin-bottom: 7px;
}

.socials__item {
  margin-right: 7px;
}
.socials__item:last-of-type {
  margin-right: 0;
}
.socials__item:hover {
  transform: scale(0.9);
}

.phone, .email {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
}
.phone__icon, .email__icon {
  width: 13px;
  font-size: 0;
}
.phone__value, .email__value {
  width: calc(100% - 13px);
  padding-left: 5px;
}

.phone {
  margin-bottom: 7px;
}
.phone__value {
  font-size: 20px;
  font-weight: 700;
}