include ../../sys/pug/vars

.order
	.case
		.order__title.h2 Низкие цены и лучшие участки только #[br]на старте продаж
		.order__subtitle.h3 Узнайте подробнее об условиях покупки
		.order__form.row
			.order__input.input.--md.--bg-white.--icon
				.input__wrap
					.input__icon
						<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 9.38 11.88" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003"><metadata id="CorelCorpID_0Corel-Layer"/><path class="fil0" d="M-0 10.05l0.22 0.19c0.01,0.01 0.03,0.02 0.05,0.03 0.12,0.1 0.24,0.19 0.37,0.28 0.04,0.03 0.08,0.06 0.12,0.09 0.14,0.09 0.27,0.18 0.42,0.26 0.03,0.02 0.06,0.04 0.09,0.05 0.15,0.09 0.31,0.17 0.47,0.25 0.01,0.01 0.02,0.01 0.04,0.02 0.53,0.24 1.09,0.42 1.68,0.53 0.02,0 0.03,0 0.05,0.01 0.18,0.03 0.37,0.06 0.56,0.07 0.02,0 0.05,0 0.07,0.01 0.19,0.01 0.38,0.02 0.57,0.02 0.19,0 0.38,-0.01 0.56,-0.02 0.02,-0 0.05,-0 0.07,-0 0.19,-0.02 0.37,-0.04 0.55,-0.07 0.02,-0 0.03,-0.01 0.05,-0.01 0.58,-0.1 1.13,-0.28 1.66,-0.52 0.02,-0.01 0.04,-0.02 0.06,-0.03 0.16,-0.07 0.31,-0.15 0.46,-0.24 0.04,-0.02 0.07,-0.04 0.11,-0.06 0.14,-0.08 0.27,-0.16 0.4,-0.25 0.05,-0.03 0.09,-0.07 0.14,-0.1 0.11,-0.08 0.22,-0.16 0.33,-0.25 0.02,-0.02 0.05,-0.04 0.07,-0.05l0.23 -0.19 -0.01 -0.01 -0.4 -0.32c-0.07,-0.05 -0.15,-0.1 -0.23,-0.14l-2.14 -1.07c-0.19,-0.1 -0.31,-0.29 -0.31,-0.5l0 -0.75c0.05,-0.06 0.1,-0.13 0.16,-0.21 0.28,-0.39 0.5,-0.83 0.66,-1.29 0.32,-0.15 0.53,-0.47 0.53,-0.83l0 -0.9c0,-0.22 -0.08,-0.43 -0.22,-0.6l0 -1.18c0.01,-0.13 0.06,-0.87 -0.48,-1.48 -0.47,-0.53 -1.22,-0.8 -2.24,-0.8 -1.02,0 -1.78,0.27 -2.24,0.8 -0.54,0.61 -0.49,1.35 -0.48,1.48l0 1.18c-0.14,0.17 -0.22,0.38 -0.22,0.6l0 0.9c0,0.28 0.12,0.54 0.34,0.71 0.2,0.8 0.63,1.41 0.78,1.61l0 0.73c0,0.21 -0.11,0.4 -0.29,0.49l-2 1.09c-0.06,0.03 -0.13,0.08 -0.19,0.12l-0.4 0.33z"/></svg>
					input.input__area(type="text" name="name" placeholder="Ваше имя")
			.order__input.input.--md.--bg-white.--icon.--phone
				.input__wrap
					.input__icon
						<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 24.39 31.65" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003"><metadata id="CorelCorpID_0Corel-Layer"/><path class="fil0" d="M2.04 2.5l3.19 -1.95c1.76,-1.07 4.06,-0.52 5.14,1.24l1.95 3.19c1.08,1.76 0.52,4.06 -1.24,5.14 -1.76,1.08 -2.32,3.37 -1.24,5.14l1.8 2.94c1.08,1.76 3.37,2.32 5.14,1.24 1.76,-1.08 4.06,-0.52 5.13,1.24l1.95 3.19c1.08,1.76 0.52,4.06 -1.24,5.14l-3.19 1.95 -0.25 0.15c-1.76,1.07 -4.06,0.52 -5.14,-1.24l-13.48 -22.07c-1.08,-1.76 -0.52,-4.06 1.24,-5.14l0.25 -0.15z"/></svg>
					input.input__area(type="text" name="phone" placeholder="Ваш телефон")
			button.order__btn.btn.--gradient.--md Узнать подробнее
		.order__policy Нажимая на кнопку, вы #[a(href="javascript:;" data-fancybox="" data-src="#modal-policy") даете согласие] на обработку своих персональных данных
	
	.order__bg.bg
		img(src="_/uploads/order-bg.png" alt="")