.order {
  color: #fff;
  position: relative;
  padding-top: 60px;
  height: 468px;
}
.order__title {
  margin-bottom: 12px;
}
.order__subtitle {
  margin-bottom: 45px;
}
.order__form {
  margin-left: -6px;
  margin-right: -6px;
}
.order__input, .order__btn {
  width: calc(33.333% - 12px);
  margin-left: 6px;
  margin-right: 6px;
}
.order__policy {
  margin-top: 45px;
  text-align: center;
}
.order__policy a {
  color: #fff;
  border-color: #fff;
}
.order__policy a:hover {
  border-color: transparent;
}