include ../../sys/pug/vars

.order
	.case
		.order__title.h2 Низкие цены и лучшие участки только #[br]на старте продаж
		.order__subtitle.h3 Узнайте подробнее об условиях покупки
		.order__form.row
			.order__input.input.--md.--bg-white.--icon
				.input__wrap
					.input__icon
					input.input__area(type="text" name="name" placeholder="Ваше имя")
			.order__input.input.--md.--bg-white.--icon.--phone
				.input__wrap
					.input__icon
					input.input__area(type="text" name="phone" placeholder="Ваш телефон")
			button.order__btn.btn.--gradient.--md Узнать подробнее
		.order__policy Нажимая на кнопку, вы #[a(href="") даете согласие] на обработку своих персональных данных
		