include ../../sys/pug/vars

.gallery
	.case
		.gallery__title.h3 Простой дом, в котором соберется вся семья, где тепло #[br]и уют, куда всегда хочется вернуться!
		.gallery__slider
			.gallery__list
				.gallery__item
					.gallery__img
						img(src="" alt="")
					.gallery__name Для здоровья и вдохновения
				.gallery__item
					.gallery__img
						img(src="" alt="")
					.gallery__name Все прелести загородной жизни
				.gallery__item
					.gallery__img
						img(src="" alt="")
					.gallery__name Для здоровья и вдохновения
				.gallery__item
					.gallery__img
						img(src="" alt="")
					.gallery__name Все прелести загородной жизни
			.gallery__arrows
				.gallery__arrow.--prev
				.gallery__arrow.--next
		