.intro {
  color: #fff;
  position: relative;
  min-height: 640px;
  padding-top: 60px;
}
.intro__h1 {
  margin-bottom: 8px;
}
.intro__h4 {
  margin-bottom: 45px;
}
.intro__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.intro__bg-after {
  position: absolute;
  top: auto;
  bottom: -52px;
  height: 74px;
}

.intr-loc__icon {
  margin-bottom: 30px;
}

@media screen and (max-width: 1140px) {
  .intro {
    padding-top: 120px;
  }

  .intr-loc__icon {
    width: 60px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .intro {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
  }
  .intro__bg {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100%;
    transform: none;
  }
  .intro__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .intro__bg-after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .intro br {
    display: none;
  }

  .intr-loc__icon {
    width: 50px;
    margin-bottom: 12px;
  }
}