include ../../sys/pug/vars

.intro
	.case
		.intro__h1.h1 Участки от 6 соток #[br]От 60000 рублей за участок
		.intro__h4.h4 * Только на старте продаж
		.intro__h2.h2 Акция!!! Дарим скидку 50% #[br]от стоимости на второй участок
		.intro__location.intr-loc
			.intr-loc__icon
				img(src="_/uploads/location.svg" alt="")
			.intr-loc__title.h4 В 35 минутах от Нижнего Новгорода
	.intro__bg.bg
		img(src="_/uploads/intro.jpg" alt="")
	.intro__bg-after.bg
		img(src="_/uploads/intro-after.png" alt="")