.pay {
  background: #f8f8f8;
  padding-top: 62px;
  padding-bottom: 62px;
}
.pay__title {
  margin-bottom: 62px;
}
.pay__list {
  margin-left: -10px;
  margin-right: -10px;
}
.pay__item {
  width: calc( 50% - 20px );
  height: 365px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 40px 20px 40px 54px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.pay__name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}
.pay__desc {
  font-size: 24px;
  font-weight: 500;
}
.pay__img {
  position: absolute;
  right: 20px;
}
.pay__img.--t70 {
  top: 70px;
}
.pay__img.--t88 {
  top: 88px;
}
.pay__btn {
  max-width: 350px;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.pay__btn img {
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
}
.pay__btn span {
  padding-left: 20px;
}

@media screen and (max-width: 1140px) {
  .pay__img {
    transform: scale(0.8);
  }
  .pay__img.--t70 {
    top: 80px;
  }
  .pay__img.--t88 {
    top: 100px;
  }
}
@media screen and (max-width: 992px) {
  .pay__list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -20px;
  }
  .pay__item {
    width: 100%;
    height: 335px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 40px 20px 30px 40px;
  }
  .pay__img {
    transform: none;
  }
  .pay__img.--t70 {
    top: 30px;
  }
  .pay__img.--t88 {
    top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .pay__list {
    max-width: 315px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pay__item {
    height: 370px;
    padding: 20px;
  }
  .pay__name {
    font-size: 24px;
  }
  .pay__desc {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .pay__img {
    position: relative;
    right: -10px;
    margin-bottom: 20px;
  }
  .pay__img.--t70 {
    top: 0;
  }
  .pay__img.--t88 {
    transform: scale(1.2);
  }
}