include ../../sys/pug/vars

.pay
	.case
		.pay__title.h3 Самые выгодные варианты оплаты на рынке
		.pay__list.row
			.pay__item
				.pay__name Рассрочка на 12 месяцев
				.pay__desc С первым взносом 15%
				.pay__img
					img(src="" alt="")
				a.pay__btn.btn.--gradient.--md(href="javascript:;") Выбрать участок
					span
			.pay__item
				.pay__name Полная оплата
				.pay__desc Со скидкой 5%
				.pay__img
					img(src="" alt="")
				a.pay__btn.btn.--gradient.--md(href="javascript:;") Выбрать участок
					span
		