include ../../sys/pug/vars

.earth
	.case
		.earth__title.h2 Земля - самый надежный способ
		.earth__subtitle.h3 сохранить и приумножить свои сбережения
		a.earth__btn.btn.--gradient.--md(href="" data-fancybox="") Связаться с менеджером
		.earth__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных