include ../../sys/pug/vars

.earth
	.case
		.earth__title.h2 Земля - самый надежный способ
		.earth__subtitle.h3 сохранить и приумножить свои сбережения
		a.earth__btn.btn.--gradient.--md(href="javascript:;" data-fancybox="" data-src="#modal-order") Связаться с менеджером
		.earth__policy Нажимая на кнопку, вы #[a(href="javascript:;" data-fancybox="" data-src="#modal-policy") даете согласие] на обработку своих персональных данных
	.earth__bg.bg
		img(src="_/uploads/earth.png" alt="")